$navWidthMin: 80px;
$navWidthMax: 260px;


@mixin navbar_white_line__pseudo {
}


@mixin navbar_white_line__bg {
  background-color: $c-white;
  transition: all .5s ease .5s;
  @include theme-isLight {
    @include theme(background-color, var(--theme-color-light));
  }
}
